.dropdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  .dropdown {
    background: linear-gradient(90deg, #5fc4d8 0%, #82e8c9 100%);
    padding: 2px;
    border-radius: 20px;
  }
  select {
    max-width: 200px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align-last: center;
    height: 35px;
    padding: 0 15px;
    background: #f4f8fa;
    border-radius: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}
